<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <div class="container">
        <h1 class="display-3">Sensehat App</h1>
        <p class="lead">It is a simple application with which you can search within a range of dates the temperature, pressure and humidity measurements recognized by the raspberry pi sensehat sensor. Through a selector you can select the graphic to be displayed within the range of previously selected dates.</p>
    </div>
    <div class="container">
        <app-measures-search></app-measures-search>
    </div>
</div>
