<div class="row">

    <!--<div *ngIf="chart">-->
        <!--<canvas id="canvas">{{ chart }}</canvas>-->
    <!--</div>-->

    <!--<div [hidden]="!chart">-->
    <!--<canvas id="canvas">{{ chart }}</canvas>-->
    <!--</div>-->

    <!--<div *ngIf="chart">-->
        <!--<canvas #canvas id="canvas">{{ chart }}</canvas>-->
    <!--</div>-->

   {{dates | json}}

    <canvas baseChart
            [data]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>

</div>
