<h4>Edit
    <small>measure</small>
</h4>
<hr>
<form *ngIf="measure" (ngSubmit)="update(measureForm)" #measureForm="ngForm" novalidate="">


    <div class="form-group row">
        <label class="col-2 col-form-label">Temperature</label>
        <div class="col-8">

            <input class="form-control"
                   type="number"
                   placeholder="Temperature"
                   name="temperature"
                   [(ngModel)]="measure.temperature"
                   required
            >
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Humidity</label>
        <div class="col-8">

            <input class="form-control"
                   type="number"
                   placeholder="Humidity"
                   name="humidity"
                   [(ngModel)]="measure.humidity"
                   required
            >
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Pressure</label>
        <div class="col-md-8">

            <input class="form-control"
                   type="number"
                   placeholder="Pressure"
                   name="pressure"
                   [(ngModel)]="measure.pressure"
                   required
            >
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pressure</label>
        <div class="col-md-8">

            <input class="form-control"
                   type="text"
                   placeholder="Date"
                   name="date"
                   [ngModel]="measure?.date"
                   disabled
            >
        </div>
    </div>

    <button [routerLink]="['/home']"
            class="btn btn-outline-danger">
        Return
    </button>
    <button type="submit" class="btn btn-outline-primary">
        Update
    </button>




    <div class="col-6">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="d2" #c2="ngModel" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                            <img src="/assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <hr/>
        <button class="btn btn-sm btn-outline-primary" (click)="model2 = today">Select Today</button>
        <hr/>
        <pre>Model: {{ model2 | json }}</pre>
        <pre>State: {{ c2.status }}</pre>
    </div>


</form>
