<h4>Edit
    <small>measure</small>
</h4>

<hr>
<form *ngIf="measure" (ngSubmit)="update(measureForm)" #measureForm="ngForm" novalidate="novalidate">


    <div class="form-group row">
        <label class="col-2 col-form-label">Temperature</label>
        <div class="col-8">

            <input class="form-control"
                   [ngClass]="{'is-invalid':temperature.errors?.required && temperature.touched}"
                   type="number"
                   placeholder="Temperature"
                   name="temperature"
                   [(ngModel)]="measure.temperature"
                   required
                   #temperature="ngModel"
            >
            <div *ngIf="temperature.errors?.required" class="invalid-feedback">
                This field is required
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Humidity</label>
        <div class="col-8">

            <input class="form-control"
                   [ngClass]="{'is-invalid':humidity.errors?.required && humidity.touched}"
                   type="number"
                   placeholder="Humidity"
                   name="humidity"
                   [(ngModel)]="measure.humidity"
                   #humidity="ngModel"
                   required
            >
            <div *ngIf="humidity.errors?.required" class="invalid-feedback">
                This field is required
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Pressure</label>
        <div class="col-md-8">

            <input class="form-control"
                   [ngClass]="{'is-invalid':pressure.errors?.required && humidity.touched}"
                   type="number"
                   placeholder="Pressure"
                   name="pressure"
                   [(ngModel)]="measure.pressure"
                   #pressure="ngModel"
                   required
            >
            <div *ngIf="pressure.errors?.required" class="invalid-feedback">
                This field is required
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Date</label>
        <div class="col-md-8">

            <input class="form-control"
                   type="text"
                   placeholder="Date"
                   name="date"
                   [ngModel]="measure?.date"
                   disabled
            >
        </div>
    </div>

    <div class="form-group row">
        <i class="col-2 fa fa-arrow-circle-left fa-3x"
           [routerLink]="['/home']">
        </i>

        <div class="input-group  col-md-8">

            <button [disabled]="!measureForm.valid"
                    class="btn btn-outline-primary"
                    type="submit">
                Update
            </button>
        </div>
    </div>


</form>
