<form>
    <div class="form-group row">


        <div class="col-sm-12">
            <form class="form-inline">

                <label class="col-form-label col-sm-1">From</label>
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="from" [(ngModel)]="from" ngbDatepicker #dateFrom="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dateFrom.toggle()" type="button">
                                <img src="/assets/img/calendar-icon.svg"
                                     style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-7">
                    <div class="input-group">
                        <ngb-timepicker [(ngModel)]="timeFrom" name="timeFrom"
                                        [spinners]="spinnersFrom"></ngb-timepicker>
                    </div>
                    <button class="m-t-1 btn btn-sm btn-outline-{{spinnersFrom ? 'success' : 'danger'}}"
                            (click)="toggleSpinnersFrom()">
                        Spinners - {{spinnersFrom ? "ON" : "OFF"}}
                    </button>
                </div>


            </form>
        </div>

        <div class="col-sm-12">
            <form class="form-inline">

                <label class="col-form-label col-sm-1">To</label>
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="to" [(ngModel)]="to" ngbDatepicker #dateTo="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dateTo.toggle()" type="button">
                                <img src="/assets/img/calendar-icon.svg"
                                     style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-7">
                    <div class="input-group">
                        <ngb-timepicker [(ngModel)]="timeTo" name="timeTo"
                                        [spinners]="spinnersTo"></ngb-timepicker>
                    </div>
                    <button class="m-t-1 btn btn-sm btn-outline-{{spinnersTo ? 'success' : 'danger'}}"
                            (click)="toggleSpinnersTo()">
                        Spinners - {{spinnersTo ? "ON" : "OFF"}}
                    </button>
                    <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">
                        Select Today
                    </button>
                </div>

            </form>
        </div>

    </div>


    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>




